.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
.DS_Store
*.vsix

# 开发文件
package.sh
PUBLISH.md
.idea/**

# Git 相关
.git/**
.github/**
